.leadership {
  padding: 2rem;
  background: #f9f5f5;
  text-align: center;

  h1 {
    color: #dfb946;
    margin-bottom: 1rem;
  }

  p {
    max-width: 700px;
    margin: 0 auto 2rem;
    font-size: 1.1rem;
    color: #0a0000;
      opacity: 0.95;
      font-weight: bolder;
      font-family: 'Times New Roman', Times, serif;
  }
}

.leadersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.leaderCard {
  background: #e9b10bce;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  h3 {
    color: #457b9d;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.95rem;
    color: #333;
  }
}
