.roadmap {
  padding: 2rem;
  background: #fdfafa;
  text-align: center;

  h1 {
    color: #c5a53b;
    margin-bottom: 1rem;
  }

  p {
    max-width: 800px;
    margin: 0 auto 2rem;
    font-size: 1.1rem;
    color: #080000;
      opacity: 0.95;
      font-weight: bolder;
      font-family: 'Times New Roman', Times, serif; 
  }
}

.timeline {
  position: relative;
  margin: 2rem auto;
  max-width: 900px;

  &::after {
    content: "";
    position: absolute;
    width: 7px;
    background: #3d4042;
    top: 0;
    bottom: 0;
    left: 53%;
    margin-left: 2px;
  }
}

.timelineItem {
  padding: 1rem 2rem;
  position: relative;
  width: 50%;

  &.left {
    left: 0;
    text-align: center;
  }

  &.right {
    left: 50%;
    text-align: center;
  }
}

.timelineContent {
  background: #ebba18;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;

  h2 {
    color: #457b9d;
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 1rem;
    color: #333;
  }
}

.outcome {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #000309;
}
